<h2>April 2022</h2>
<!-- <app-stringinterpolation></app-stringinterpolation> -->
<!-- <app-twowaybinding></app-twowaybinding> -->
<!-- <app-demotdf></app-demotdf> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-servers></app-servers> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-eventbinding1></app-eventbinding1> -->
<!-- <app-eventbinding2></app-eventbinding2> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-switchdirective></app-switchdirective> -->
<!-- <app-parent></app-parent> -->
<!-- <app-task9></app-task9> -->
<!-- <app-course></app-course> -->
<!-- <app-post></app-post> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-notification></app-notification> -->
<!-- <hr> -->
<!-- <app-home></app-home> -->
<!-- <app-nana></app-nana> -->
<!-- <app-practice></app-practice> -->